@layer base {
    html {
        @apply ring-zenith-700;
    }

    /* Set core root defaults */
    html:focus-within {
        scroll-behavior: smooth;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* Add the correct font weight in Chrome, Edge, and Safari */
    b,
    strong {
        font-weight: bolder;
    }

    /* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
    sub,
    sup {
        position: relative;
        font-size: 0.75em;
        line-height: 0;
        vertical-align: baseline;
    }
    sub {
        bottom: -0.25em;
    }
    sup {
        top: -0.5em;
    }

    svg,
    img,
    picture {
        pointer-events: none;
    }

    img,
    video,
    picture {
        max-width: 100%;
        height: auto;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul:where([role="list"]),
    ol:where([role="list"]) {
        list-style: none;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    [x-cloak] {
        display: none !important;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    [data-theme="light"] .prose {
        --tw-prose-links: "#06c";
        --tw-prose-quote-borders: "#06c";
        --tw-prose-headings: "#222";
    }

    [data-theme="dark"] .prose {
        --tw-prose-links: "#fbbf24";
        --tw-prose-quote-borders: "#fbbf24";
        --tw-prose-quotes: "#f2f2f2";
        --tw-prose-body: "#f2f2f2";
        --tw-prose-headings: "#f2f2f2";
        --tw-prose-bold: "#f2f2f2";
    }

    .btn {
        @apply no-underline;
    }

    .prose {
        @apply text-base md:text-lg;
    }

    .prose :where(a):not(:where([class~="not-prose"] *)) {
        text-decoration: none;
        @apply hover:underline;
    }

    .prose :where(pre):not(:where([class~="not-prose"] *)) {
        --tw-prose-pre-bg: #1a1a1a;
    }

    code,
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: monospace;
        font-weight: 400;
        line-height: 1.3;
        @apply text-base;
    }

    code:where(:not([class])) {
        @apply !rounded !font-normal !text-current !bg-zenith dark:!bg-zenith-700 px-2 py-1;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        @apply -mx-4 w-screen rounded-none sm:mx-0 sm:w-full sm:rounded;
    }

    code:where(:not([class]))::before,
    code:where(:not([class]))::after {
        @apply !content-none;
    }

    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
        font-style: italic;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        @apply bg-zenith-700 drop-shadow-lg dark:drop-shadow-none;
    }

    blockquote > pre[class*="language-"] {
        @apply w-[calc(100%+1rem)] sm:w-full mr-0;
    }

    .prose p {
        @apply text-pretty;
    }

    .prose
        :where(blockquote p:first-of-type):not(
            :where([class~="not-prose"] *)
        )::before,
    .prose
        :where(blockquote p:last-of-type):not(
            :where([class~="not-prose"] *)
        )::after {
        @apply hidden;
    }

    .container {
        @apply px-4 mx-auto;
        max-width: 1132px;
    }

    lite-youtube {
        @apply w-full max-w-3xl mx-auto aspect-video align-middle h-unset;
    }
}
