---
layout: home.njk
title: Tools
description: List of my favorite tools
---

<section class="py-8 md:py-14">
  <div class="grid lg:grid-cols-3 gap-4 lg:gap-8">
    <div class="col-span-2">
      <h1 class="mb-2">{{ title }}</h1>
      <p class="m-0 md:text-2xl max-w-3xl">I use a lot of tools. Here are some of my favorites.</p>
    </div>
  </div>
</section>

<section class="py-4 md:py-8">
  <h2>Code</h2>
  <ul class="list-none m-0 p-0">
    <li class="">
      <h3>JetBrains Developer Tools</h3>
      <p>JetBrains makes some of the best developer tools out there. I use WebStorm, PyCharm, and PhpStorm on a daily basis.</p>
      <ul>
        <li><a href="https://www.jetbrains.com/webstorm/">WebStorm</a></li>
        <li><a href="https://www.jetbrains.com/pycharm/">PyCharm</a></li>
        <li><a href="https://www.jetbrains.com/phpstorm/">PhpStorm</a></li>
      </ul>
      <p>JetBrains also makes a great IDE for Go, Ruby, and <a href="https://www.jetbrains.com/products/">many other languages</a>.</p>
    </li>
    <li class="">
      <h3>iTerm2</h3>
      <p>iTerm2 is a replacement for Terminal and the successor to iTerm. It works on Macs with macOS 10.10 or newer. iTerm2 brings the terminal into the modern age with features you never knew you always wanted.</p>
      <ul>
        <li><a href="https://iterm2.com/">iTerm2</a></li>
      </ul>
    </li>
    <li class="">
      <h3>GitHub with CoPilot</h3>
      <p>Everyone needs a place to store their code. I've use Bitbucket, and GitLab in the past, but went all-in on GitHub. It's the primary store for all my personal and private projects, and I make sure that I have local backups with <a href="https://github.com/cooperspencer/gickup">gickup</a>.</p>
      <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://github.com/features/copilot">GitHub CoPilot</a></li>
      </ul>
    </li>
    <li class="">
      <h3>Netlify</h3>
      <p>The majority of sites that I build today use Eleventy, and are hosted by Netlify. If a site needs any interactivity, Netlify Functions provides everything that I need.</p>
      <ul>
        <li><a href="https://www.netlify.com/">Netlify</a></li>
      </ul>
    </li>
    <li class="">
      <h3>CodePen</h3>
      <p>CodePen is a social development environment for front-end designers and developers. Build and deploy a website, show off your work, build test cases to learn and debug, and find inspiration.</p>
      <ul>
        <li><a href="https://codepen.io/">CodePen</a></li>
      </ul>
    </li>
  </ul>

  <h2>Tools & Utilities</h2>
  <ul>
    <li class="">
      <h3>1Password</h3>
      <p>1Password is a password manager that keeps you safe online. It's the only way to keep your accounts safe from password reuse, phishing, and other online threats.</p>
      <p>I'm a long time 1Password user, and have managed to convince all of my immediate family to use it too. Shared vaults are great for tech support, and they allow my wife, son and I to keep track of documents that we need.</p>
      <p>Autocomplete works great, and it's the single source of truth for all of my software licenses and club memberships. I couldn't live without it.</p>
    </li>
    <li class="">
      <h3>Alfred</h3>
      <p>Alfred is an award-winning app for macOS which boosts your efficiency with hotkeys, keywords, text expansion and more. Search your Mac and the web, and be more productive with custom actions to control your Mac.</p>
      <p>I started out using Alfred as a Spotlight replacement many years ago. Somewhere along the way I picked up a lifetime Mega supporter license and use it every day.</p>
      <p>Most of the time it's a quick application launcher, but I have a couple of downloaded workflows (such as the emoji picker), and some custom workflows for navigating to specific work systems quickly.</p>
      <p>I've recently started using it's snippets capability, both for common replies and for demo purposes (with autoexpand enabled).</p>
    </li>
    <li class="">
      <h3>massCode</h3>
      <p>massCode is a free and open source code snippets manager for developers. It helps you create and organize your own personal snippets collection and have quick access to it.</p>
      <p>I've been using massCode for a while now, and it's a great way to keep track of code snippets that I use regularly. I've got a few snippets that I use for demos, and a few more that I use for common replies.</p>
    </li>
    <li class="">
      <h3></h3>
    </li>
  </ul>

  <h2>Gears</h2>
  <ul>
    <li class="">
      <h3>Apple MacBook Air 13" M2</h3>
      <p>My current laptop is a MacBook Air 13 M2". It's a great little machine, and I'm really happy with it.</p>
      <p>I've got the 24GB RAM, 2Tb SSD model, and it's more than enough for my needs. I've got a 27" and 32" monitors that I use when I'm at my desk.</p>
    </li>
  </ul>

  <h2>Gaming</h2>
  <ul>
    <li class="">
      <h3>Nintendo Switch</h3>
      <p>I've got a Nintendo Switch, and I'm really enjoying it. I've got Switch to play Zelda series, and the best game is Breath of the Wild.</p>
      <p>I've also got a few other games that I enjoy to play, such as Mario Kart, and Super Mario Odyssey.</p>
    </li>
    <li class="">
      <h3>PlayStation 5</h3>
      <p>I've been a PlayStation fan since the original PS1, and I've owned every generation since. I've got a PS5, and I'm really enjoying it.</p>
      <p>I've got a few games that I play regularly, and I'm looking forward to the next generation of games.</p>
    </li>
    <li class="">
      <h3>PlayStation VR (first gen)</h3>
      <p>I've got a first generation PSVR, and I'm really enjoying it. I've got a few games that I enjoy to play, such as Beat Saber, Moss, and Astro Bot.</p>
    </li>
    <li class="">
      <h3>PlayStation Vita</h3>
      <p>PS Vita is unique in that it's a handheld console that can play PS4 games. I've got a few games that I enjoy to play, such as Uncharted: Golden Abyss, and Tearaway.</p>
    </li>
  </ul>
</section>
