@utility token {
  &.deleted {
    background-color: hsl(0, 51%, 37%);
    color: inherit;
  }

  &.inserted {
    background-color: hsl(126, 31%, 39%);
    color: inherit;
  }

  /* Make the + and - characters unselectable for copy/paste */
  &.prefix.unchanged {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &.prefix.inserted {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &.prefix.deleted {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &.prefix.inserted {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.prefix.deleted {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* Optional: full-width background color */
  &.inserted:not(.prefix) {
    display: block;
    margin-left: calc(-1 * var(--eleventy-code-padding));
    margin-right: calc(-1 * var(--eleventy-code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
    color: inherit; /* override del, ins, mark defaults */
  }
  &.deleted:not(.prefix) {
    display: block;
    margin-left: calc(-1 * var(--eleventy-code-padding));
    margin-right: calc(-1 * var(--eleventy-code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
    color: inherit; /* override del, ins, mark defaults */
  }
}
@utility deleted {
  &.token {
    background-color: hsl(0, 51%, 37%);
    color: inherit;
  }
  & .token.prefix {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & .token.prefix {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }
  & .token:not(.prefix) {
    display: block;
    margin-left: calc(-1 * var(--eleventy-code-padding));
    margin-right: calc(-1 * var(--eleventy-code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
    color: inherit; /* override del, ins, mark defaults */
  }
}
@utility inserted {
  &.token {
    background-color: hsl(126, 31%, 39%);
    color: inherit;
  }
  & .token.prefix {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &.token.prefix {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* Optional: full-width background color */
  &.token:not(.prefix) {
    display: block;
    margin-left: calc(-1 * var(--eleventy-code-padding));
    margin-right: calc(-1 * var(--eleventy-code-padding));
    text-decoration: none; /* override del, ins, mark defaults */
    color: inherit; /* override del, ins, mark defaults */
  }
}
@utility prefix {
  /* Make the + and - characters unselectable for copy/paste */
  &.token.unchanged {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  & .token.inserted {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  & .token.deleted {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &.token.inserted {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }

  & .token.deleted {
    width: var(--eleventy-code-padding);
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@utility unchanged {
  /* Make the + and - characters unselectable for copy/paste */
  &.token.prefix {
    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/*
 * New diff- syntax
 */
@layer components {
    pre[class*="language-diff-"] {
        --eleventy-code-padding: 1.25em;
        padding-left: var(--eleventy-code-padding);
        padding-right: var(--eleventy-code-padding);
    }
}
