<!doctype html>
<html lang="{{ metadata.language }}" class="scroll-pt-6 {{ htmlClass }}" :class="theme.name" x-data="xDOM">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="theme-color" content="#ffffff" :content="theme.dark?'#1a1a1a':'#ffffff'">

		{%- if eleventy.env.runMode === "serve" -%}
		<link rel="stylesheet" href="/css/main.css">
		{%- else -%}
		<style>{%- include "../../../_site/css/main.css" -%}</style>
		{%- endif -%}

		{% include "../partials/scripts-head.njk" %}

	</head>
	<body class="dark:bg-terminal-400 dark:text-zenith {{ bodyClass }}">

		{% include "../partials/scripts-body.njk" %}

		<a href="#skip" class="sr-only">Skip to main content</a>

		{% include "../partials/header.njk" %}

		{# Set min height for main section alpine js #}
		<main id="skip" class="my-12"
			  x-ref="main"
			  :style="`min-height: ${window.innerHeight - $refs.header.scrollHeight - $refs.footer.scrollHeight}px`">
			<div class="container sm:px-10 prose">
				{{ content | safe }}
			</div>
		</main>

		{%- include "../partials/breadcrumbs.njk" -%}
		{%- include "../partials/footer.njk" -%}
		{%- include "../partials/scripts-footer.njk" -%}

		{# Load script defer #}
		<script src="/js/main{%- if eleventy.env.runMode == 'build' -%}.{{ build.hash.short }}{%- endif -%}.js" defer type="text/javascript"></script>

	</body>
</html>
