<!doctype html>
<html lang="{{ metadata.language }}" class="scroll-pt-6 {{ htmlClass }}" :class="theme.name" x-data="xDOM">
	<head>
		{% include "../partials/metagen.njk" %}
		{% include "../partials/favicon.njk" %}

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">

		{%- if eleventy.env.runMode === "serve" -%}
		<link rel="stylesheet" href="/css/main.css">
		{%- else -%}
		<style>{%- include "../../../_site/css/main.css" -%}</style>
		{%- endif -%}

		{% include "../partials/scripts-head.njk" %}
	</head>
	<body class="dark:bg-terminal-400 dark:text-zenith {{ bodyClass }}">

		{% include "../partials/scripts-body.njk" %}

		<a href="#skip" class="sr-only">Skip to main content</a>

		{% include "../partials/header.njk" %}

		{# Set min height for main section alpine js #}
		<main id="skip" class="my-12"
			  x-ref="main"
			  :style="`min-height: ${window.innerHeight - $refs.header.scrollHeight - $refs.footer.scrollHeight}px`">
			<div class="container sm:px-10 prose">
				{{ content | safe }}
			</div>
		</main>

		{%- include "../partials/breadcrumbs.njk" -%}
		{%- include "../partials/footer.njk" -%}
		{%- include "../partials/scripts-footer.njk" -%}

		{# Load script defer #}
		<script src="/js/main{%- if eleventy.env.runMode == 'build' -%}.{{ build.hash.short }}{%- endif -%}.js" defer type="text/javascript"></script>

	</body>
</html>
