<!doctype html>
<html lang="{{ metadata.language }}" class="scroll-pt-6 {{ htmlClass }} dark" data-theme="dark" :class="theme.name" x-data="xDOM">
	<head>
    {% include "../partials/metagen.njk" %}
    {% include "../partials/favicon.njk" %}
    {% include "../partials/scripts-head.njk" %}
	</head>
	<body class="dark:bg-terminal-400 dark:text-zenith {{ bodyClass }}">

		{% include "../partials/scripts-body.njk" %}

		<a href="#skip" class="sr-only">Skip to main content</a>

		<main id="skip" class="py-12">
			<div class="container sm:px-10 prose">
				{{ content | safe }}
			</div>
		</main>

		{% include "../partials/scripts-footer.njk" %}

		{# Load script defer #}
		<script src="/js/main.js" defer type="text/javascript"></script>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->

	</body>
</html>
