---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---
{# Redirect default Netlify subdomain to primary domain #}
https://alexzappa.netlify.app/* https://alex.zappa.dev/:splat 301!
https://www.zappa.dev/* https://alex.zappa.dev/:splat 301!
https://zappa.dev/* https://alex.zappa.dev/:splat 301!

{# Blogs redirects #}
/blog/track-utm-parameters-for-hubspot-forms/ /blog/track-utm-parameters-for-hubspot-forms-like-a-boss/
/blog/detect-dark-or-light-device-mode/ /blog/detect-dark-or-light-system-mode/
/how-to-block-visitors-by-country-with-the-nginx-geoip-module-debian-ubuntu/ /blog/how-to-block-visitors-by-country-with-the-nginx-geoip-module-debian-ubuntu/

{# Handle legacy #}
/eng/* /blog/:splat 301

{# Plausible proxy #}
/api/event https://plausible.io/api/event 200

{# Unsplash API #}
/unsplash/* https://source.unsplash.com/:splat 200

{# API Proxy #}
/api/* /.netlify/functions/:splat 200

