---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

# Blogs redirects
/blog/track-utm-parameters-for-hubspot-forms/ /blog/track-utm-parameters-for-hubspot-forms-like-a-boss/
/blog/detect-dark-or-light-device-mode/ /blog/detect-dark-or-light-system-mode/

# Handle legacy
/eng/* /blog/:splat 301


# Plausible proxy
/api/event https://plausible.io/api/event 200
