---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---
{# Redirect default Netlify subdomain to primary domain #}
https://alexzappa.netlify.app/* https://alex.zappa.dev/:splat 301!
https://www.zappa.dev/* https://alex.zappa.dev/:splat 301!
https://zappa.dev/* https://alex.zappa.dev/:splat 301!

{# Blogs redirects #}
/blog/track-utm-parameters-for-hubspot-forms/ /blog/track-utm-parameters-for-hubspot-forms-like-a-boss/
/blog/detect-dark-or-light-device-mode/ /blog/detect-dark-or-light-system-mode/
/detect-dark-or-light-device-mode/ /blog/detect-dark-or-light-system-mode/
/how-to-block-visitors-by-country-with-the-nginx-geoip-module-debian-ubuntu/ /blog/how-to-block-visitors-by-country-with-the-nginx-geoip-module-debian-ubuntu/
/adding-subscribers-to-a-list-using-mailchimps-api-v3/ /blog/adding-subscribers-to-a-list-using-mailchimp-s-api-v3/
/gitkraken-cross-platform-editor-for-git-repos/ /blog/gitkraken-cross-platform-editor-for-git-repos/
/wp-plugin-campaign-url-builder/ /blog/wp-plugin-campaign-url-builder/
/transitioning-google-url-shortener-to-bitly/ /blog/transitioning-google-url-shortener-to-bitly/
/campaign-url-builder-introducing-shortcodes/ /blog/campaign-url-builder-introducing-the-shortcodes/
/how-do-i-find-my-bitly-oauth-access-token/ /blog/how-do-i-find-my-bitly-oauth-access-token/
/how-remove-ds_store-files-from-a-git-repository/ /blog/how-remove-ds-store-files-from-a-git-repository/
/wp-plugin-elementor-multidomain-support/ /blog/wp-plugin-elementor-multidomain-support/
/track-utm-parameters-with-cookies/ /blog/keep-track-utm-parameters-for-hubspot-forms-like-cookie-monster/
/mobile-friendly-responsive-images-with-css/ /blog/mobile-friendly-responsive-images-with-css/
/my-favorite-css-hacks/ /blog/my-favorite-css-hacks/
/track-utm-parameters-for-hubspot-forms/ /blog/track-utm-parameters-for-hubspot-forms-like-a-boss/
/how-to-change-app-store-preferred-language-2022/ /blog/how-to-change-app-store-preferred-language-2022/

{# Tatiana Zappa Legacy #}
/what-to-see-in-lisbon/ https://tatianazappa.com/videos/nh2xsbpr_s8/
/weekend-in-salamanca-spain/ https://tatianazappa.com/videos/at89mwyt2sy/
/weekend-in-aranjuez-spain/ https://tatianazappa.com/videos/xwkh46hds44/

{# Handle legacy #}
/eng/* /blog/:splat 301

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml
