---
permalink: ../_temp/titles-for-og-images.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- for page in collections.posts %}
  {%- if page.data.draft != true %}
    {{ page.data.title if page.data.title }}
  {%- endif %}
{%- endfor %}
Tools & Utilities
Projects
Privacy Policy
Blog Archive
