---
layout: home.njk
title: About
pageTitle: About Alex Zappa
---

<section class="py-8 md:py-14">

	<div class="grid md:flex gap-8 md:gap-12">
		<div class="w-1/2 sm:w-1/3 md:order-2">
			{% image "../assets/images/alex-zappa-at-work.jpg", "Alex Zappa at Work", [300], "m-0 w-full" %}
		</div>
		<div class="md:w-2/3">
			<div class="text-3xl font-bold">Hello there!</div>
			<h1>I'm Alex, and I am geek 🤓</h1>
			<p>
				coming soon...
			</p>
		</div>

	</div>

</section>
