---
layout: home.njk
---

<div class="grid md:flex gap-8 md:gap-12">
	<div class="w-1/2 sm:w-1/3 md:order-2">
		{% image "../assets/images/alex-zappa-at-work.jpg", "Alex Zappa at Work", [300], "m-0 w-full" %}
	</div>
	<div class="md:w-2/3">
		<h1>Hi, I'm Alex</h1>
		<p>
			I'm a passionate web developer with over five years of experience in creating responsive and user-friendly web applications. I specialize in front-end development using HTML/CSS3, JavaScript, and popular frameworks like React and Angular. I'm also well-versed in content management systems like WordPress and have created various custom themes and plugins.
		</p>
		<p>
			I have an eye for design and user-experience, and I'm constantly seeking ways to improve my skills through learning and experimentation. I'm comfortable working both independently and as part of a team, and I enjoy collaborating with others to solve complex problems.
		</p>
		<p>
			Some of my proudest accomplishments include building a complex e-commerce platform for a large retail client, and developing a user-friendly mobile app for a startup using React Native. I'm always up for exciting new challenges and strive to excel in everything I do.
		</p>
	</div>

</div>
