---
layout: prose.njk
title: Blog Archive
permalink: /blog/
ogImage: /img/og/blog-archive.png
---

{% set postsList = collections.posts %}

{% set postYears = postsList | getPostYears | reverse %}

<div class="prose md:prose-xl mx-auto">
  <h1 style="margin-bottom:0.8571429em">{{ title }}</h1>
</div>

{% include "partials/postslist-timeline.njk" %}
