---
permalink: /
metadata:
  suffix: ""
ogImage: '/default-og-image.png'
---
<section class="py-8 md:py-14">
	<div class="grid lg:grid-cols-3 gap-4 lg:gap-8">
		<div class="col-span-2">
			<h1 class="mb-2">Hi, I'm <a class="font-bold" href="/about/">Alex</a>.</h1>
			<p class="m-0 md:text-2xl max-w-3xl">I'm a web developer based in the London, UK. I'm currently working at <a href="https://www.kandji.io">Kandji</a>. I'm passionate about building accessible, performant and inclusive websites and applications. I'm also a big fan of <a href="https://jamstack.org/">JAMstack</a>, <a href="https://11ty.dev/">Eleventy</a>, <a href="https://www.hubspot.com/">HubSpot</a>, and <a href="https://wordpress.org/">WordPress</a>. When I'm not coding, I'm usually traveling, playing video games, watching films or listening to music. Feel free to get in touch.</p>
		</div>
		<div class="hidden lg:block">
			<div class="ml-auto max-w-[250px] text-center">
        <div class="size-60 cursor-pointer"
             x-data="{
               imageSrc: `https://picsum.photos/seed/${uuid()}/240/240/`,
               refreshImage() {
                 this.imageSrc = `https://picsum.photos/seed/${uuid()}/240/240/`;
               }
             }" @click="refreshImage()">
            <img x-cloak :src="imageSrc" class='ml-auto m-0 rounded drop-shadow-lg size-60' loading='lazy' alt='Random image' width='240' height='240' eleventy:ignore>
        </div>
				<a class="text-current opacity-70" href="/blog/the-best-free-image-placeholder-for-quick-and-easy-content-mockups/">What is this?</a>
			</div>
		</div>
	</div>
</section>

<section class="py-4 md:py-8">
	<h2>Recent Posts</h2>
	<div class="grid md:grid-cols-2 gap-4 lg:gap-8">
		{% set postslist = collections.posts | head(-4) %}
		{% set postslistCounter = postsCount %}
		{% for post in postslist | reverse %}
			{% include "partials/single-post-card.njk" %}
		{% endfor %}
	</div>
</section>

<section class="py-4 md:pt-8 md:pb-14">
	<h2>Featured Posts</h2>
	<div class="grid md:grid-cols-2 gap-4 lg:gap-8">
		{% set postslist = collections[ 'featured' ] | head(-4) %}
		{% set postslistCounter = postsCount %}
		{% for post in postslist | reverse %}
			{% include "partials/single-post-card.njk" %}
		{% endfor %}
	</div>
</section>
