---
layout: prose.njk
title: Privacy Policy
---

<h1>{{ title }}</h1>

<h2>Cookies</h2>
<p>This website does not use cookies.</p>
<p>However, my website may uses third party services that may use cookies. These services are:</p>
<ul>
  <li><a href="https://blog.codepen.io/documentation/privacy-policy/#cookies" target="_blank" rel="noopener noreferrer">CodePen</a></li>
</ul>

<h3>How to disable 3rd party cookies</h3>
<p>You can disable 3rd party cookies in your browser settings. For more information, please visit <a href="https://www.allaboutcookies.org/manage-cookies/" target="_blank" rel="noopener noreferrer">All About Cookies</a>.</p>

<h2>Analytics</h2>
<p>I use Plausible Analytics to track the usage of my website. This is a privacy friendly analytics tool that does not use cookies and does not collect any personal data. It only collects the following data:</p>
<ul>
  <li>Page views</li>
  <li>Referral source</li>
  <li>Browser</li>
  <li>Operating system</li>
  <li>Device type</li>
  <li>Visitor country</li>
</ul>

<p>For more information, please visit <a href="https://plausible.io/data-policy" target="_blank" rel="noopener noreferrer">Plausible Analytics Data Policy</a>.</p>

