---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Build: {{ build.hash.short }} at {{ build.timestamp.formatted }}
User-agent: *
Disallow: /tags/
Disallow: /api/
Disallow: /404.html
Sitemap: {{ build.url }}/sitemap.xml
