---
layout: nada
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Build: {{ build.hash.short }} at {{ build.timestamp.formatted }}
User-agent: *
Disallow: /tags/
Disallow: /404.html

User-agent: Twitterbot
Allow: /
Allow: /api/og-image/*

Sitemap: {{ build.url }}/sitemap.xml
