---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tools
    - tagList
    - featured
  addAllPagesToCollections: true
layout: prose.njk
eleventyComputed:
  title: Tagged “{{ tag | slugify }}”
permalink: /tags/{{ tag | slugify }}/
excludeFromSitemap: true
---
<h1>Tagged “{{ tag | slugify }}”</h1>

{% set postslist = collections[ tag ] %}

{% include "partials/postslist-timeline.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
