---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tools
    - tagList
    - featured
  addAllPagesToCollections: true
layout: prose.njk
eleventyComputed:
  title: Tagged “{{ tag | slugify }}”
permalink: /tags/{{ tag | slugify }}/
excludeFromSitemap: true
---

{% set postsList = collections[ tag ] %}

{% set postYears = postsList | getPostYears | reverse %}

<div class="prose md:text-xl mx-auto">
  <h1 class="text-pretty" style="margin-bottom:0.8571429em">Tagged “{{ tag | slugify }}”</h1>
</div>

{% include "partials/postslist-timeline.njk" %}
