---
layout: base.njk
permalink: /projects/am-i-responsive/
ogImage: '/default-og-image.png'
---

<h1>
  Am I Responsive?
</h1>

<div id="stage"
     class=""
     x-data="{
        iframeSrc: `about:blank`,
        targetUrl: ``,
        setIframeSrc() {
          this.iframeSrc = 'https://alex.zappa.dev'; //this.targetUrl;
        }
     }"
     x-init="setIframeSrc()">



  <form action="#" :submit.prevent="setIframeSrc()" class="mb-20">
    <label for="targetUrl">URL</label>
    <input type="text" id="targetUrl" @input.debounce.500ms="setIframeSrc()" x-model="targetUrl" placeholder="https://example.com">
  </form>

    <div class="">

      <div class="iphone flex justify-center items-center relative [&_picture]:absolute [&_img]:m-0"
           style="width: 130px; height: 266px;">
        <div class="absolute z-10 bg-terminal w-10 h-2.5 rounded-full top-2">
          <div class="rounded-full bg-gradient-to-b from-[#0F1693] via-terminal to-[#0F1693] size-1 absolute right-1" style="top:3px"></div>
        </div>
        {% image "./iphone.png", "iPhone 15Pro", [450], "m-0" %}
        <iframe src="about:blank"
                class="absolute m-0 p-0 scale-[0.3] no-scrollbar bg-cursor dark:bg-terminal"
                style="border-radius: 52px" frameborder="0"
                :src="iframeSrc" width="393" height="852"></iframe>
      </div>

      <div class="ipad flex justify-center items-center relative [&_picture]:absolute [&_img]:m-0"
           style="width: 250px; height: 345px;">
        {% image "./ipad.png", "iPad Pro", [600], "m-0" %}
        <iframe src="about:blank"
                class="absolute m-0 mt-1 p-0 scale-[0.243] no-scrollbar bg-cursor dark:bg-terminal"
                style="border-radius: 50px" frameborder="0"
                :src="iframeSrc" width="954" height="1330"></iframe>
      </div>

      <div class="imac flex justify-center items-center relative [&_picture]:absolute [&_img]:m-0"
           style="width: 600px; height:516px;">
        {% image "./imac.png", "iMac", [900], "m-0" %}
        <iframe src="about:blank"
                class="absolute m-0 p-0 scale-[0.23] no-scrollbar bg-cursor dark:bg-terminal"
                style="border-radius: 20px; margin-top:-25%" frameborder="0"
                :src="iframeSrc" width="2560" height="1440"></iframe>
      </div>

      <div class="macbook flex justify-center items-center relative [&_picture]:absolute [&_img]:m-0"
           style="width: 450px; height: 294px;">
        <div class="absolute z-10 bg-terminal-900 w-12 h-2.5 flex justify-center"
             style="top:1%; border-radius: 0 0 4px 4px">
          <div class="rounded-full bg-gradient-to-b from-[#0F1693] via-terminal to-[#0F1693] size-1 absolute mx-auto" style="top:3px"></div>
        </div>
        {% image "./macbook.png", "MacBook Pro", [450], "m-0" %}
        <iframe src="about:blank"
                class="absolute m-0 p-0 scale-[0.253] no-scrollbar bg-cursor dark:bg-terminal"
                style="border-radius: 28px 28px 0 0; margin-top: -7.24%" frameborder="0"
                :src="iframeSrc" width="1512" height="987"></iframe>
      </div>

    </div>


</div>
