<header class="bg-zenith dark:bg-zenith-700" x-ref="header">
	<nav class="mx-auto flex container items-center justify-between py-6" aria-label="Global">
		<a href="/" class="flex items-center gap-2 font-bold whitespace-nowrap [&:hover_img]:opacity-70">
			<div class="w-10 rounded-full">
				{% image '/images/alex-zappa-avatar.jpg', 'Alex Zappa`s headshot', [100], 'rounded-full border-2 border-terminal-200 transition duration-200' %}
			</div>
			Alex Zappa
		</a>
		<div class="flex gap-x-12">
			<div class="hidden sm:flex sm:gap-x-12">
{#				<a href="/about/" class="text-sm font-semibold leading-6">About</a>#}
{#				<a href="/tools/" class="text-sm font-semibold leading-6">Tools</a>#}
				<a href="/tools/" class="text-sm font-semibold leading-6">Tools</a>
				<a href="/blog/" class="text-sm font-semibold leading-6">Blog</a>
			</div>
			<button class="-my-2.5 inline-flex items-center justify-center rounded-md p-2.5"
					aria-label="Switch to dark theme"
					:aria-label="theme.dark ? 'Switch to light theme' : 'Switch to dark theme'"
					@click="toggleTheme()">
				<span class="sr-only" x-text="theme.dark ? 'Switch to light theme' : 'Switch to dark theme'">Switch to dark theme</span>
				<span x-show="theme.dark">{% feather "sun", { "class": "h-5 w-5" } %}</span>
				<span x-show="!theme.dark" x-cloak>{% feather "moon", { "class": "h-5 w-5" } %}</span>
			</button>
		</div>
	</nav>
</header>
