{# color theme toggle #}
<script>!function(t,e,m){t&&"light"===t&&(e.classList.remove("dark"),e.setAttribute("data-theme","light"),m.setAttribute("content","#ffffff"))}(localStorage.getItem("theme"),document.documentElement,document.querySelector('meta[name="theme-color"]'));</script>

{%- if eleventy.env.runMode === "serve" -%}
  <link rel="stylesheet" href="/css/main.css">
{%- else -%}
  <style>{%- include "../../../_site/css/main.css" -%}</style>
{%- endif -%}
